li {
  list-style: none;
}

ul {
  margin: 0;
  height: 0;
}

h1 {
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 5px solid red;
  background-color: bisque;
}

form {
  margin-bottom: 1rem;
}

#characters {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

#characters > ul {
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

#characters > ul > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  gap: 10px;
}
